.header-title {
	font-size: 32px;
	line-height: 1.5;
	font-weight: 800;
	margin-bottom: 20px;
	margin-top: 0;
}

.product {
	display: flex;
	gap: 100px;
	margin-top: 23px;
	margin-bottom: 40px;
}

.product__img-wrapper {
	flex: 1 1;
}

.product__desc {
	flex-shrink: 0;
	max-width: 400px;
}

@media (width <= 768px) {
	.product {
		flex-direction: column;
	}

	.product__desc {
		width: 100% !important;
		max-width: initial;
	}
}
