.box {
	display: flex;
	flex-direction: column;
}

.title {
	margin-bottom: 20px;
	font-weight: 800;
	font-size: 24px;
	line-height: 28px;
}

.subtitle {
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 5fr;
	row-gap: 20px;
	margin-bottom: 40px;
}

.naming {
	color: #7b8e98;
	font-size: 16px;
	line-height: 20px;
}

.description {
	font-size: 16px;
	line-height: 20px;
}

.description p {
	margin-bottom: 12px;
}
