.cart-item {
	gap: 32px;
	align-items: center;
	padding-top: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid #eceff1;
}

.cart-item:last-of-type {
	border-bottom: none;
}

.cart-item__desc {
	display: flex;
	flex-grow: 1;
	align-items: center;
	column-gap: 16px;
}

.cart-item__image {
	flex-shrink: 0;
	width: 64px;
	height: 64px;
	object-fit: contain;
}

.cart-item__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.cart-item__top {
	display: flex;
	gap: 20px;
	flex-grow: 1;
}

.cart-item__title {
	margin: 0;
	width: 100%;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	color: currentColor;
}

.cart-item__actions {
	display: flex;
	flex-direction: column;
}

.cart-item__bnt-trash {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.cart-item__bnt-trash:hover path {
	fill: red;
}
