.delivery {
	display: flex;
	align-items: flex-start;
	padding: 12px;
	background-color: rgb(236 239 241 / 60%);
	border-radius: 12px;
}

.delivery:not(.delivery:last-child) {
	margin-bottom: 8px;
}

.right {
	margin-left: 12px;
}

.name {
	margin-top: 0;
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

.text {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.text:not(.text:last-child) {
	margin-bottom: 8px;
}

.bold {
	font-weight: 700;
}
